<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
 <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter"></a>
  
 <a aria-label="Angular on twitter" rel="noopener" routerLink="/crear" title="Twitter">crear </a>
 <a aria-label="Angular on twitter" rel="noopener" routerLink="/perfil" title="Twitter">perfil </a>
 <a aria-label="Angular on twitter" rel="noopener" routerLink="/listado" title="Twitter">listado de perfiles</a>



  
<router-outlet></router-outlet>