/* You can add global styles to this file, and also import other style files */
.titulo{
    color: #000000;
     font-family: 'Cookie', cursive;
     font-size: 110px;
     font-weight: bold;
     text-align: center;
     margin-top: 10px;
     
 }
 
 
 .subtitulo{
     color: #b7b7b7;
     font-family: 'Cookie', cursive;
     font-size: 45px;
     text-align: center;
     margin-top: 20px;
     margin-bottom: 5px;
     
 }
 
 #grilla{
     width: 100%;
     
 }
 
 .navbarTinder{
     margin-top: -15px;
     text-align: center;
     margin-bottom: 20px;
 }
 
 body{
     background-color: #eae3dc;
     background-position: center 18px;
     background-size: 420px;
     background-repeat: no-repeat;
 }
 
 
 .tabla{
     }
     
 #btn-like {
   opacity: 1;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
 }
 
 #btn-like:hover{
     opacity:0.2;
 }
 
 #btn-dislike {
   opacity: 1;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
 }
 
 #btn-dislike:hover{
     opacity:0.2;
 }
 
 */
 
 .titulo{
    color: #000000;
     font-family: 'Cookie', cursive;
     font-size: 110px;
     font-weight: bold;
    
     margin-top: 10px;
     
 }
 
 
 #btn-like {
   opacity: 1;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
 }
 
 #btn-like:hover{
     opacity:0.2;
 }
 
 #btn-dislike {
   opacity: 1;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
 }
 
 #btn-dislike:hover{
     opacity:0.2;
 }
 
 .nav-link {
     font-size:20px;
     color: black;
 }
 